
<div class="content-row black-border border-bottom border-1">

    <div class="col-20 content-header margin-top-50">
        <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Customers
    </div>

</div>

<div class="row margin-top-30">

    <div class="col-md-12">
        <button class="btn btn-sm btn-primary" click="AddCustomer()"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add Customer</button>
    </div>

</div>

<div class="row">

    <div iteration="model: Customers" class="col-md-12">
        <div class="row"
             template="type: desktop; containerId: dsktpContainer; src: partials/controls/desktop-customer-grid.html;"
             pagination="containerId: paginationCtl; pagetotal: 4;"
             filter='fields: Name=customerNameFilter,Contact=customerContactFilter,Status=customerStatusFilter; toggle: toggleId=filterToggle, containerId=filterContainer; ShowText: Filter <i class="fa fa-chevron-down" aria-hidden="true"></i>; HideText: Filter <i class="fa fa-chevron-up" aria-hidden="true"></i>;'>

        </div>

        <div class="table-layout"
             template="type: mobile; containerId: mobileContainer; src: partials/controls/mobile-customer-grid.html;"
             pagination="containerId: custMobPagCtl;"
             filter='fields: Name=custMobNameFilter; toggle: toggleId=custMobFilterToggle, containerId=custMobFilterContainer; ShowText: Filter <i class="fa fa-chevron-down" aria-hidden="true"></i>; HideText: Filter <i class="fa fa-chevron-up" aria-hidden="true"></i>;'>
            
        </div>

    </div>

</div>
