
<div class="width-50 centered margin-top-100">
    <div class="panel">
        <div class="title">
            Login
        </div>
        <div class="body">

            <div class="width-75 centered">

                <div class="content-row">
                    <div class="col-20">
                        <input type="email" class="form-control" placeholder="Email Address" binding="DataType: string; Model: UserCredentials.Email" />
                    </div>
                </div>

                <div class="content-row margin-top-10">
                    <div class="col-20">
                        <input type="password" class="form-control" placeholder="Password" binding="DataType: string; Model: UserCredentials.Password" />
                    </div>
                </div>

                <div class="content-row margin-top-10">
                    <div class="col-20">
                        <button class="btn btn-sm btn-primary pull-right" click="Login()">Login</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
