
<div class="content-row black-border border-bottom border-1">

    <div class="col-20 content-header margin-top-50">
        <i class="fa fa-folder-o" aria-hidden="true"></i>&nbsp;&nbsp;Customer Projects
    </div>

</div>

<div class="content-row margin-top-30">

    <div class="col-10">
        <a href="#/customers">Customers</a>&nbsp;/&nbsp;<variable model="SelectedCustomer.Name"></variable>
    </div>

    <div class="col-10">
        <button class="btn btn-sm btn-primary float-right" click="AddCustomer()"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add Project</button>
    </div>

</div>

<div class="content-row">

    <div class="col-20">

        <div class="row margin-top-10">
            <div iteration="model: SelectedCustomer.Projects" class="col-md-12">

                <div class="row"
                     template="type: desktop; containerId: dsktpContainer; src: partials/controls/desktop-project-grid.html;"
                     pagination="containerId: projPagCtl; pagetotal: 20;"
                     filter='fields: Name=projectNameFilter,Status=projectStatusFilter; toggle: toggleId=projFilterToggle, containerId=projFilterContainer; ShowText: Filter <i class="fa fa-chevron-down" aria-hidden="true"></i>; HideText: Filter <i class="fa fa-chevron-up" aria-hidden="true"></i>;'>

                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="table-layout"
                             template="type: mobile; containerId: mobileContainer; src: partials/controls/mobile-project-grid.html;"
                             pagination="containerId: projMobPagCtl;"
                             filter='fields: Name=projectMobNameFilter; toggle: toggleId=projMobFilterToggle, containerId=projMobFilterContainer; ShowText: Filter <i class="fa fa-chevron-down" aria-hidden="true"></i>; HideText: Filter <i class="fa fa-chevron-up" aria-hidden="true"></i>;'>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
